body {
  background-color: #fff;
}

img {
  padding-left: 50%;
  transform: translateX(-30%);
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-container {
  padding: 30px 30px 20px 30px;
}

.body-container div {
  margin-top: 20px;
  margin-bottom: 70px;
}

.body-container div h4,
.body-container div p,
.body-container div ol {
  padding-left: 50px;
}

.body-container div h4 {
  text-decoration: underline;
  padding-bottom: 10px;
}

.body-container h2 {
  padding: 10px 30px 20px 0px;
  font-size: 1.8rem;
}

.body-container h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.body-container p {
  font-size: 1rem;
  padding-bottom: 10px;
}

.body-container ol {
  /* list-style-type: upper-roman;
  padding-left: 20px; */
}

ol li {
  padding-bottom: 10px;
}
